* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Space Mono", sans-serif;
}

.hero {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1671200034899-0bd929c25855?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1477&q=80);
    z-index: -1;
    opacity: 0.4;
}

h1, h2 {
    text-align: center;
    margin-bottom: 25px;
}

h2 {
    padding: 5px;
    background-color: #E3B505;
    border: 2px solid black;
}

p {
    font-weight: 700;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.flex-box {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2rem;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}