* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Space Mono", sans-serif;
}

.hero {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1671200034899-0bd929c25855?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1477&q=80);
    z-index: -1;
    opacity: 0.4;
}

